<html>
    <head>
        <title>{% block title %}SION - Sistem Informasi Organisasi {%  endblock %}</title>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        {% load static %}
        <!-- Materialize CSS -->
        <link rel="stylesheet" href="{% static "/css/materialize.css" %}">

        {% block style %}
        <link rel="stylesheet" href="{%  static "/css/base.css" %}">
        {% endblock %}

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script type="text/javascript">
            var instances;
            function toggleMenu() {
                if (instances !== null) {
                    instances[0].open();
                }

            }
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.sidenav');
                instances = M.Sidenav.init(elems);

            });

        </script>
    </head>
    <body>
        {% block navigation %}
        <nav id="" class="navbar light-blue darken-3">
            <div class="nav-wrapper">
                <button class="hide-on-med-and-up" style="cursor: pointer; outline: none; background: transparent; border: none;" onclick="toggleMenu()">
                    <i class="material-icons white-text">menu</i>
                </button>
                <a href="/" class="brand-logo logo">SION</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {% if request.user.is_authenticated == True %}
                    <li {% if request.path == "/profile/" %}class="active"{% endif %}>
                        <a href="/profile/">Profile User</a>
                    </li>
                    {% endif %}

                    {% if request.user.is_authenticated == False %}
                    <li {% if request.path == "/registrasi/" %}class="active"{% endif %}>
                        <a href="/registrasi/">Registrasi</a>
                    </li>
                    {% endif %}

                    {% if request.user.is_authenticated == False %}
                    <li {% if request.path == "/organisasi/registrasi/" %}class="active"{% endif %}>
                        <a href="/organisasi/registrasi/">Registrasi Organisasi</a>
                    </li>
                    {% endif %}

                    {% if request.user.is_authenticated == True %}
                    <li {% if request.path == "/organisasi/" %}class="active"{% endif %}>
                        <a href="/organisasi/">Lihat Organisasi</a>
                    </li>
                    {% endif %}

                    {% if request.user.is_authenticated == True and request.user.is_relawan == False %}
                    <li {% if request.path == "/organisasi/donasi/" %}class="active"{% endif %}>
                        <a href="/organisasi/donasi/">Berdonasi Ke Organisasi</a>
                    </li>
                    {% endif %}

                    {% if request.user.is_authenticated == True and request.user.is_sponsor == False %}
                    <li {% if request.path == "/kegiatan/donasi/" %}class="active"{% endif %}>
                        <a href="/kegiatan/donasi/">Berdonasi Ke Kegiatan</a>
                    </li>
                    {% endif %}

                    {% if request.user.is_authenticated == True and request.user.is_pengurus == True %}
                    <li {% if request.path == "/kegiatan/donasi/" %}class="active"{% endif %}>
                        <a href="/kegiatan/donasi/">Buat Kegiatan</a>
                    </li>
                    {% endif %}

                    {% if request.user.is_authenticated == True and request.user.is_pengurus == True %}
                    <li {% if request.path == "/kegiatan/donasi/" %}class="active"{% endif %}>
                        <a href="/kegiatan/detail/">Lihat Kegiatan</a>
                    </li>
                    {% endif %}


                    {% if request.user.is_authenticated == False %}
                    <li {% if request.path == "/login/" %}class="active"{% endif %}>
                        <a href="/login/">Login</a>
                    </li>
                    {% endif %}

                    {% if request.user.is_authenticated == True %}
                    <li>
                        <a href="/logout/">Logout</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% endblock %}

        <ul id="slide-out" class="sidenav">
           <li {% if request.path == "/" %}class="active"{% endif %}>
                <a href="/">Home</a>
            </li>
            <li {% if request.path == "/registrasi/" %}class="active"{% endif %}>
                <a href="/registrasi/">Registrasi</a>
            </li>
            <li {% if request.path == "/login/" %}class="active"{% endif %}>
                <a href="/login/">Login</a>
            </li>
            <li {% if request.path == "/organisasi/registrasi/" %}class="active"{% endif %}>
                <a href="/organisasi/registrasi/">Registrasi Organisasi</a>
            </li>
            <li {% if request.path == "/organisasi/" %}class="active"{% endif %}>
                <a href="/organisasi/">Lihat Organisasi</a>
            </li>
            <li {% if request.path == "/organisasi/donasi/" %}class="active"{% endif %}>
                <a href="/organisasi/donasi/">Donasi Ke Organisasi</a>
            </li>
            <li {% if request.path == "/profile/" %}class="active"{% endif %}>
                <a href="/profile/">Profile User</a>
            </li>
        </ul>

        {% block content %} {% endblock %}

        {% block footer %}
        <footer class="page-footer light-blue footer" style="padding-top: 0;">
            <div class="footer-copyright">
                <div class="container">
                    &copy 2018 - Database B02 Fasilkom UI 2018. Made with <a class="light-blue-text text-lighten-5" href="http://materializecss.com">Materialize.css</a>
                </div>
            </div>
        </footer>
        {% endblock %}

        <script type="text/javascript" src="{% static "js/lib/materialize.min.js" %}"></script>

        {% block script %}
        {% endblock %}
    </body>
</html>