{% extends "layout/base.html" %}
{% block style %}
    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #fff;
            margin: 0;
            font-size: 16px;
            font-family: 'Source Sans Pro', sans-serif;
            background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
        }
        .navbar {
            margin-bottom: auto;
        }
        .logo {
            margin-left: 1rem;
        }

        .footer {
            margin-top: auto;
            width: 100%;
        }
        /* label underline focus color */
        .input-field input:focus {
            border-bottom: 1px solid #00b0ff !important;
            box-shadow: 0 1px 0 0 #00b0ff !important;
        }
        label.active {
            color: #00b0ff !important;
        }
        .tabs .indicator {
            background-color: #00b0ff;
        }
        .tabs .tab a:hover, .tabs .tab a.active {
            color: #0091ea;
        }
        .tabs .tab a:focus, .tabs .tab a:focus.active {
            background-color: rgb(128,216,255, 0.2);
        }
        .tabs .tab a {
            color: #80d8ff;
        }
        .input-field {
            margin-top: 0;
            margin-bottom: 0;
        }
    </style>
{% endblock %}
{% block content %}
    <div id="registrasi-app" class="card row white">
        <div class="card-content">
            <div class="col s12 card-title light-blue-text" style="padding: 0;">Register as</div>
            <div class="card-tabs">
              <ul class="tabs">
                <li class="tab">
                    <a target="_self" href="/registrasi/donatur/" {% if request.path == "/registrasi/donatur/" %}class="active"{% endif %}>
                        DONATUR
                    </a>
                </li>
                <li class="tab">
                    <a target="_self" href="/registrasi/relawan/" {% if request.path == "/registrasi/relawan/" %}class="active"{% endif %}>
                        RELAWAN
                    </a>
                </li>
                <li class="tab">
                    <a target="_self" href="/registrasi/sponsor/" {% if request.path == "/registrasi/sponsor/" %}class="active"{% endif %}>
                        SPONSOR
                    </a>
                </li>
              </ul>
            </div>

            <div id="tab" style="margin-top: 2rem;">
                {% block tab %}
                {% endblock %}
            </div>

            <div class="row" style="margin-top: 2rem; margin-bottom: 0; ">
                <div class="col s12 direction-right center-align">
                    <a class="dark-blue-text darken-4" href="/login">Click here to Login!</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    {% load static %}
    <script type="text/javascript" src="{% static "/js/registrasi.js" %}"></script>

{% endblock %}