body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin: 0;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
.navbar {
    margin-bottom: auto;
}
.logo {
    margin-left: 1rem;
}
.title {
    text-align: center;
}
.footer {
    margin-top: auto;
    width: 100%;
}