{% extends "layout/base.html" %}
{%  block title %}SION - Registrasi Organisasi{% endblock %}

{% block content %}
    <span class="title">
        <h1>Organisasi {{ organisasi.nama }} Successfuly Created.</h1>
        <h2>Generated Password for Your Pengurus Organisasi</h2>
        <ul>
            {% for credential in pengurus_credentials %}
                <li>
                    <span class="col s6 blue-text">Email: {{ credential.email }}</span>
                    <span class="col s6 fa-bold red-text">Password: {{ credential.password }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

