{% extends "layout/base.html" %}
{% block style %}

    <style>
        body {
            min-height: 100vh;
            align-items: center;
            justify-content: center;
            color: #fff;
            margin: 0;
            font-size: 16px;
            font-family: 'Source Sans Pro', sans-serif;
            background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
        }
        .navbar {
            margin-bottom: auto;
			width: 100%;
        }
        .logo {
            margin-left: 1rem;
        }
        .title {
            text-align: right;
        }
        .footer {
            margin-top: auto;
            width: 100%;
			position: static;
			float: bottom;
        }
		
		.collection .collection-item {
		  background-color: #fff;
		  line-height: 1.5rem;
		  padding: 10px 20px;
		  margin: 0;
		  border-bottom: 1px solid #e0e0e0;
		  color: black;
		}
		
		.collection {
		}
		

		
		.daftar-organisasi {
			padding-right:50px;
			padding-left:50px;
			padding-top:50px;
			padding-bottom:100px;
			background-color: #fff;
			color: black;
			margin-left:10%;
			margin-right:10%;
			margin-top:25px;
			margin-bottom:25px;
			min-height:80%;
		
    </style>
{% endblock %}

{% block content %}	
	<div class="daftar-organisasi">
		<h1 style="margin-top: auto; margin-bottom: 0; font-size: 3rem;">Anda Tidak Bisa Berdonasi</h1>
			
	</div>
{% endblock %}

{% block script %}
	<script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
	<script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"> </script> 
		  
	<script>
	 $(document).ready(function() {
		$('select').material_select();
	 });
	</script>

{% endblock %}