{% extends "layout/base.html" %}
{% block style %}
	<style>
        body {
            min-height: 100vh;
            align-items: center;
            justify-content: center;
            color: #fff;
            margin: 0;
            font-size: 16px;
            font-family: 'Source Sans Pro', sans-serif;
            background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
        }
        .navbar {
            margin-bottom: auto;
			width: 100%;
        }
        .logo {
            margin-left: 1rem;
        }
        .title {
            text-align: right;
        }
        .footer {
            margin-top: auto;
            width: 100%;
			position: static;
			float: bottom;
        }
		
		.collection .collection-item {
		  background-color: #fff;
		  line-height: 1.5rem;
		  padding: 10px 20px;
		  margin: 0;
		  border-bottom: 1px solid #e0e0e0;
		  color: black;
		}
		
		.collection {
		}
		

		
		.daftar-organisasi {
			padding-right:50px;
			padding-left:50px;
			padding-top:50px;
			padding-bottom:100px;
			background-color: #fff;
			color: black;
			margin-left:10%;
			margin-right:10%;
			margin-top:25px;
			margin-bottom:25px;
		}

		.indent {
    		text-indent: 50px;
		}

		
      </style>
{% endblock %}

{% block content %}	
	<div class="daftar-organisasi">
	<h1 style="margin-top: auto; margin-bottom: 0; font-size: 3rem;">{{organisasi.nama}}</h1>
	<hr>
	<p1> Website			: {{organisasi.website}}</p1>
	<br>
	<p1> Email				: {{organisasi.email_organisasi}}</p1>
	<br>
	<p1> Alamat				:  </p1>
	<br>	
	<p1 class="indent"> Kelurahan			:  {{organisasi.kelurahan}}</p1>
	<br>
	<p1 class="indent"> Kecamatan			:  {{organisasi.kecamatan}}</p1>
	<br>
	<p1 class="indent"> Kabupaten/kota		:  {{organisasi.kabupaten_kota}}</p1>
	<br>
	<p1 class="indent"> Provinsi			:  {{organisasi.provinsi}}</p1>
	<br>
	<p1 class="indent"> Kode Pos			:  {{organisasi.kode_pos}}</p1>
	<br>
	<p1> Tujuan Organisasi	: {{tujuan_organisasi}}</p1>
	<br>
	<br>
	<hr>
	<p1> Pengurus <p1>
	<br>
	 <ul class="collection">
		{% for i in pengurus %}
		<li class="collection-item">{{i.nama}}</li>
		{% endfor %}
	</ul>
	<br>
	<hr>
	<p1> Donatur <p1>
	<br>
	 <ul class="collection">
			{% for i in donatur %}
			<li class="collection-item">{{i.nama}}</li>
			{% endfor %}
	</ul>
	<br>
	<hr>
	<p1> Sponsor <p1>
	<br>
	 <ul class="collection">
			{% for i in sponsor %}
				<li class="collection-item">{{i.email}}</li>
			{% endfor %}
	</ul>
	<br>
	<hr>
	<p1> Total Donasi Diperoleh	: {{total_donasi}}<p1>
	
		
	</div>
	
{% endblock %}