{%  extends "layout/base.html" %}
{%  block title %}SION - Sistem Informasi Organisasi Nirlaba{% endblock %}
{% block content %}
    <div class="title">
        <h1 style="margin-top: auto; margin-bottom: 0; font-size: 5rem;">SION</h1>
        <h2 style="margin: 0 auto; font-size: 3rem;">Sistem Informasi Organisasi Nirlaba</h2>
    </div>
{% endblock %}
{% block footer %}
<footer class="page-footer light-blue footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">SION</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project. Any appreciation and support to help continue development on this project and is greatly appreciated.</p>
            </div>

            <div class="col l6 s12" style="text-align: right;">
                <h5 class="white-text">About Us</h5>
                <ul>
                    <li><a class="white-text" href="https://www.gitlab.com/agasyan">Agas Yanpratama - 1606918396</a></li>
                    <li><a class="white-text" href="https://www.gitlab.com/adalberht">Albertus Angga R. - 1606918401</a></li>
                    <li><a class="white-text" href="https://www.gitlab.com/syahbima">Aldo Bima S. - 1606833463</a></li>
                </ul>
            </div>

        </div>
	</div>
	<div class="footer-copyright">
        <div class="container">
            &copy 2018 - Database B02 Fasilkom UI 2018. Made with <a class="light-blue-text text-lighten-5" href="http://materializecss.com">Materialize.css</a>
        </div>
	</div>
</footer>

{% endblock %}