{% extends "layout/base.html" %}
{% block style %}
	<style>
        body {
            min-height: 100vh;
            align-items: center;
            justify-content: center;
            color: #fff;
            margin: 0;
            font-size: 16px;
            font-family: 'Source Sans Pro', sans-serif;
            background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
        }
        .navbar {
            margin-bottom: auto;
			width: 100%;
        }
        .logo {
            margin-left: 1rem;
        }
        .title {
            text-align: right;
        }
        .footer {
            margin-top: auto;
            width: 100%;
        }
		
		.collection .collection-item {
		  background-color: #fff;
		  line-height: 1.5rem;
		  padding: 10px 20px;
		  margin: 0;
		  border-bottom: 1px solid #e0e0e0;
		  padding-top : 25px;
		  padding-bottom : 25px;
		  color: black;
		}
		
		.daftar-organisasi {
			padding-right:10%;
			padding-left:10%;
			min-height:83%;
		}
		
    </style>
{% endblock %}
{% block content %}
	
	<div class="daftar-organisasi">
	<h1 style="margin-top: 10px; margin-bottom: 10px; font-size: 3rem;">Daftar Organisasi</h1>
		<div class="collection">
			{% for i in list_organisasi %}
			<a href="/organisasi/halaman/{{i.email_organisasi}}" class="collection-item" color="black">{{i.nama}}</a>
			{% endfor %}
		</div>
				  
	</div>
{% endblock %}

