{% extends "layout/base.html" %}
{%  block title %}SION - Login{% endblock %}
{% block style %}
<style>
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        margin: 0;
        font-size: 16px;
        font-family: 'Source Sans Pro', sans-serif;
        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    }
    .navbar {
        margin-bottom: auto;
    }
    .logo {
        margin-left: 1rem;
    }

    .footer {
        margin-top: auto;
        width: 100%;
    }
     /* label underline focus color */
    .input-field input:focus {
        border-bottom: 1px solid #00b0ff !important;
        box-shadow: 0 1px 0 0 #00b0ff !important;
    }
    /* icon prefix focus color */
    label.active {
        color: #00b0ff !important;
    }
</style>
{% endblock %}

{% block content %}
<div class="card row white">
    <div class="card-content">
        <div class="col s12 card-title light-blue-text">Login</div>
        <form class="col s12" action="/login/" method="post">
            <div class="row">
                {% csrf_token %}
                <div class="input-field col s12">
                    <label for="{{ form.email.id_for_label }}">E-mail</label>
                    {{ form.email }}
                    <p class="red-text">{{ form.email.errors.as_text }}</p>
                </div>
            </div>
            <div class="row">
                {% csrf_token %}
                <div class="input-field col s12">
                    <label for="{{ form.password.id_for_label }}">Password</label>
                    {{  form.password }}
                    <p class="red-text">{{ form.password.errors.as_text }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <button class="btn waves-effect waves-light blue darken-2" name="action" style="width: 100%;" type="submit">
                        Login
                    </button>
                </div>
            </div>
        </form>
        <div class="row" style="margin-top: 2rem; margin-bottom: 0; ">
            <div class="col s12 direction-right center-align">
                <a class="dark-blue-text darken-4" href="/registrasi">Register now!</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}