{% extends "layout/base.html" %}
{%  block title %}SION - Logout{% endblock %}
{% block content %}
    <div class="l6 s12 center text-center">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer" style="border-color: white;">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                <div class="circle"></div>
            </div><div class="circle-clipper right">
                <div class="circle"></div>
            </div>
            </div>
        </div>
        <h1 class="white-text">Logging out...</h1>
    </div>
{% endblock %}
{% block script %}
    <script>
        setTimeout(() => {
            window.location.href = '/';
        }, 500);
    </script>
{% endblock %}