{% extends "layout/base.html" %}
{%  block title %}SION - Profile{% endblock %}
{% block style %}
    <style>
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #fff;
            margin: 0;
            font-size: 16px;
            font-family: 'Source Sans Pro', sans-serif;
            background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
        }
        .navbar {
            margin-bottom: auto;
        }
        .logo {
            margin-left: 1rem;
        }

        .footer {
            margin-top: auto;
            width: 100%;
        }
        /* label underline focus color */
        .input-field input:focus {
            border-bottom: 1px solid #00b0ff !important;
            box-shadow: 0 1px 0 0 #00b0ff !important;
        }
        label.active {
            color: #00b0ff !important;
        }
        .tabs .indicator {
            background-color: #00b0ff;
        }
        .tabs .tab a:hover, .tabs .tab a.active {
            color: #0091ea;
        }
        .tabs .tab a:focus, .tabs .tab a:focus.active {
            background-color: rgba(128,216,255, 0.2);
        }
        .tabs .tab a {
            color: #80d8ff;
        }
        .input-field {
            margin-top: 0;
            margin-bottom: 0;
        }
    </style>
{% endblock %}

{% block content %}
        <div id="profile-app" class="card row white" style="max-width:600px; width:75%">
            <div class="card-content">
                <div class="col s12 card-title light-blue-text" style="padding:10%; text-align: center; font-size:2em; font-weight:bolder">User Profile 
                "{{ user.nama }}"</div>
                <div class = "row">
                    <div class="col s6 light-blue-text" style="font-size:20px; font-weight:bold">
                        <span></span>ROLE:
                        <span class="black-text">{{ user.role }}</span>
                    </div>
                </div>
                <div class = "row">
                    <div class="col s12 light-blue-text" style="font-size:20px; font-weight:bold">Nama:</div>
                    <div class="col s12 black-text" style="font-size: 18px;">{{ user.nama }}</div>
                </div>
                <div class = "row">
                        <div class="col s12 light-blue-text" style="font-size:20px; font-weight:bold">Email:</div>
                        <div class="col s12 black-text" style="font-size:18px;">{{ user.email }}</div>
                </div>
                <div class = "row">
                    <div class="col s12 light-blue-text" style="font-size:20px; font-weight:bold">Alamat:</div>
                    <div class="col s12 black-text">{{ user.alamat_lengkap }}</div>
                </div>
                {% if user.is_donatur %}
                <div class = "row">
                    <div class="col s12 light-blue-text" style="font-size:20px; font-weight:bold">Saldo User:</div>
                    <div class="col s12 black-text" style="font-size: 18px;">{{ donatur.saldo }}</div>
                </div>
                {% elif user.is_relawan %}
                <div class = "row">
                    <div class="col s12 light-blue-text" style="font-size:20px; font-weight:bold">No. hp:</div>
                    <div class="col s12 black-text">{{ relawan.no_hp }}</div>
                </div>
                <div class = "row">
                    <div class="col s12 light-blue-text" style="font-size:20px; font-weight:bold">Keahlian Relawan:</div>
                    {% for item in relawan_keahlian %}
                        <div class="col s12 black-text" style="font-size: 16px;"># {{item.keahlian}}</div>
                    {% endfor  %}
                </div>
                {% elif user.is_sponsor %}
                <div class = "row">
                    <div class="col s12 light-blue-text" style="font-size:20px; font-weight:bold">Logo:</div>
                    <center><img src={{sponsor.logo_sponsor}} style="max-width:450px"></center>
                </div>
                {% endif %}
            </div>
        </div>
{% endblock %}