{% extends "layout/registrasi.html" %}
{%  block title %}SION - Registrasi Donatur{% endblock %}
{% block style %}
      {{ block.super }}
        <style>
            p {
                color: red !important;
            }
        </style>
{% endblock %}
{% block tab %}
    <form class="col s12" style=".row { margin: 0; }" method="post" action="/registrasi/donatur/"">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                <label for="{{ form.nama.id_for_label }}">{{ form.nama.label }}</label>
                {{ form.nama }}
                <p>{{ form.nama.errors.as_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                {{ form.email }}
                <p class="red-text">{{ form.email.errors.as_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                {{ form.password }}
            </div>
            <div class="input-field col s6">
                <label for="{{ form.confirm_password.id_for_label }}">
                    {{ form.confirm_password.label }}
                </label>
                {{ form.confirm_password }}
                <p>{{ form.confirm_password.errors.as_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <label for="{{ form.kecamatan.id_for_label }}">
                    {{ form.kecamatan.label }}
                </label>
                {{ form.kecamatan }}
                <p>{{ form.kecamatan.errors.as_text }}</p>
            </div>
            <div class="input-field col s6">
                <label for="{{ form.kabupaten.id_for_label }}">
                    {{ form.kabupaten.label }}
                </label>
                {{ form.kabupaten }}
                <p>{{ form.kabupaten.errors.as_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <label for="{{ form.provinsi.id_for_label }}">
                    {{ form.provinsi.label }}
                </label>
                {{ form.provinsi }}
                <p>{{ form.provinsi.errors.as_text }}</p>
            </div>
            <div class="input-field col s6">
                <label for="{{ form.kodepos.id_for_label }}">
                    {{ form.kodepos.label }}
                </label>
                {{ form.kodepos }}
                <p>{{ form.kodepos.errors.as_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="{{ form.alamat.id_for_label }}">
                    {{ form.alamat.label }}
                </label>
                {{ form.alamat }}
                <p>{{ form.alamat.errors.as_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <button
                    class="btn waves-effect waves-light blue darken-2"
                    style="width: 100%;"
                    value="OK"
                >
                    Register as Donatur
                </button>
          </div>
        </div>
    </form>
{% endblock %}
