{% extends "layout/registrasi.html" %}
{%  block title %}SION - Registrasi Relawan{% endblock %}
{% block style %}
      {{ block.super }}
        <style>
            p {
                color: red !important;
            }
        </style>
{% endblock %}
{% block tab %}
    <form class="col s12" style=".row { margin: 0; }" method="post" action="/registrasi/relawan/">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                <label for="{{ form.nama.id_for_label }}">{{ form.nama.label }}</label>
                {{ form.nama }}
                <p>{{ form.nama.errors.as_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                {{ form.email }}
                <p class="red-text">{{ form.email.errors.as_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                {{ form.password }}
            </div>
            <div class="input-field col s6">
                <label for="{{ form.confirm_password.id_for_label }}">
                    {{ form.confirm_password.label }}
                </label>
                {{ form.confirm_password }}
                <p>{{ form.confirm_password.errors.as_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <label for="{{ form.kecamatan.id_for_label }}">
                    {{ form.kecamatan.label }}
                </label>
                {{ form.kecamatan }}
                <p>{{ form.kecamatan.errors.as_text }}</p>
            </div>
            <div class="input-field col s6">
                <label for="{{ form.kabupaten.id_for_label }}">
                    {{ form.kabupaten.label }}
                </label>
                {{ form.kabupaten }}
                <p>{{ form.kabupaten.errors.as_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <label for="{{ form.provinsi.id_for_label }}">
                    {{ form.provinsi.label }}
                </label>
                {{ form.provinsi }}
                <p>{{ form.provinsi.errors.as_text }}</p>
            </div>
            <div class="input-field col s6">
                <label for="{{ form.kodepos.id_for_label }}">
                    {{ form.kodepos.label }}
                </label>
                {{ form.kodepos }}
                <p>{{ form.kodepos.errors.as_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="{{ form.alamat.id_for_label }}">
                    {{ form.alamat.label }}
                </label>
                {{ form.alamat }}
                <p>{{ form.alamat.errors.as_text }}</p>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <label for="{{ form.no_hp.id_for_label }}">{{ form.no_hp.label }}</label>
                {{ form.no_hp }}
                <p>{{ form.no_hp.errors.as_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="{{ form.tanggal_lahir.id_for_label }}">{{ form.tanggal_lahir.label }}</label>
                {{ form.tanggal_lahir }}
                <p>{{ form.tanggal_lahir.erorrs.as_text }}</p>
            </div>
        </div>

        <div class="row" v-for="keahlian in keahlians">
            <div class="input-field col s12">
              <input
                      v-bind:name="keahlian.formName"
                      v-bind:id="keahlian.formId"
                      class="relawan_keahlian"
                      type="text"
                      class="validate"
              >
              <label>Keahlian [[ keahlian.index ]]</label>
            </div>
        </div>

        <button
                class="btn waves-effect waves-light light-blue lighten-3"
                type="button"
                name="action"
                style="margin-bottom: 1.5rem;"
                @click="addKeahlian"
        >
            <i class="material-icons left">add</i>
            Tambah Keahlian
        </button>

        <button
                class="btn waves-effect waves-light light-blue lighten-3"
                type="button"
                name="action"
                style="margin-bottom: 1.5rem;"
                @click="deleteKeahlian"
        >
            <i class="material-icons left">add</i>
            Hapus Keahlian Terakhir
        </button>

        <div class="row">
            <div class="col s12">
                <button
                        class="btn waves-effect waves-light blue darken-2"
                        style="width: 100%;"
                        type="submit"
                >
                    Register as Relawan
                </button>
          </div>
        </div>
    </form>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% load staticfiles %}
    <script src="{% static "js/registrasi_relawan.js" %}"></script>
    <!-- development version, includes helpful console warnings -->
{% endblock %}