{% extends "layout/base.html" %}
{%  block title %}SION - Registrasi Organisasi{% endblock %}
{% block style %}
<style>
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        margin: 0;
        font-size: 16px;
        font-family: 'Source Sans Pro', sans-serif;
        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    }
    .navbar {
        margin-bottom: auto;
    }
    .logo {
        margin-left: 1rem;
    }

    .footer {
        margin-top: auto;
        width: 100%;
    }
    /* label underline focus color */
    .input-field input:focus {
        border-bottom: 1px solid #00b0ff !important;
        box-shadow: 0 1px 0 0 #00b0ff !important;
    }
    label.active {
        color: #00b0ff !important;
    }
    .tabs .indicator {
        background-color: #00b0ff;
    }
    .tabs .tab a:hover, .tabs .tab a.active {
        color: #0091ea;
    }
    .tabs .tab a:focus, .tabs .tab a:focus.active {
        background-color: rgb(128,216,255, 0.2);
    }
    .tabs .tab a {
        color: #80d8ff;
    }
    .input-field {
        margin-top: 0;
        margin-bottom: 0;
    }
</style>
{% endblock %}

{% block content %}
    <div id="registrasi-app" class="card row white">
        <div class="card-content">
            <div class="col s12 card-title light-blue-text" style="padding-bottom: 25px;">Register New Organization</div>

            <div id="organitazion-tab">
                <form class="col s12" style=".row { margin: 0; }" method="post" action="/organisasi/registrasi/">
                    {% csrf_token %}
                    <div class="row">
                        <div class="input-field col s12">
                            <label for="{{ form.nama.id_for_label }}">{{ form.nama.label }}</label>
                            {{ form.nama }}
                            <p class="red-text">{{ form.nama.errors.as_text }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <label for="{{ form.website.id_for_label }}">{{ form.website.label }}</label>
                            {{ form.website }}
                            <p class="red-text">{{ form.website.errors.as_text }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <label for="{{ form.email_organisasi.id_for_label }}">{{ form.email_organisasi.label }}</label>
                            {{ form.email_organisasi }}
                            <p class="red-text">{{ form.email_organisasi.errors.as_text }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <label for="{{ form.kelurahan.id_for_label }}">{{ form.kelurahan.label }}</label>
                            {{ form.kelurahan }}
                            <p class="red-text">{{ form.kelurahan.errors.as_text }}</p>
                        </div>
                        <div class="input-field col s6">
                            <label for="{{ form.kecamatan.id_for_label }}">{{ form.kecamatan.label }}</label>
                            {{ form.kecamatan }}
                            <p class="red-text">{{ form.kecamatan.errors.as_text }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <label for="{{ form.kabupaten_kota.id_for_label }}">{{ form.kabupaten_kota.label }}</label>
                            {{ form.kabupaten_kota }}
                            <p class="red-text">{{ form.kabupaten_kota.errors.as_text }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <label for="{{ form.provinsi.id_for_label }}">{{ form.provinsi.label }}</label>
                            {{ form.provinsi }}
                            <p class="red-text">{{ form.provinsi.errors.as_text }}</p>
                        </div>
                        <div class="input-field col s6">
                            <label for="{{ form.kode_pos.id_for_label }}">{{ form.kode_pos.label }}</label>
                            {{ form.kode_pos }}
                            <p class="red-text">{{ form.kode_pos.errors.as_text }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <label for="{{ form.alamat.id_for_label }}">{{ form.alamat.label }}</label>
                            {{ form.alamat }}
                            <p class="red-text">{{ form.alamat.errors.as_text }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <label for="{{ form.tujuan.id_for_label }}">{{ form.tujuan.label }}</label>
                            {{ form.tujuan}}
                            <p class="red-text">{{ form.tujuan.errors.as_text }}</p>
                        </div>
                    </div>

                    <div v-for="pengurus in penguruses">
                        <div class="row">
                            <div class="input-field col s12">
                                  <input
                                          v-bind:name="pengurus.namaFormName"
                                          v-bind:id="pengurus.namaFormId"
                                          type="text"
                                          class="validate"
                                  >
                                  <label>Nama Pengurus [[ pengurus.index ]]</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                  <input
                                          v-bind:name="pengurus.emailFormName"
                                          v-bind:id="pengurus.emailFormId"
                                          type="email"
                                          class="validate"
                                  >
                                  <label>Email Pengurus [[ pengurus.index ]]</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                  <input
                                          v-bind:name="pengurus.alamatFormName"
                                          v-bind:id="pengurus.alamatFormId"
                                          type="text"
                                          class="validate"
                                  >
                                  <label>Alamat Pengurus [[ pengurus.index ]]</label>
                            </div>
                        </div>
                    </div>

                    <div class="row red-text">
                        {{ form.non_field_errors }}
                    </div>

                    <button
                            class="btn waves-effect waves-light light-blue lighten-3"
                            type="button"
                            name="action"
                            style="margin-bottom: 1.5rem;"
                            @click="addPengurus"
                    >
                        <i class="material-icons left">add</i>
                        Tambah Pengurus
                    </button>

                    <button
                            class="btn waves-effect waves-light dark-blue lighten-3"
                            type="button"
                            name="action"
                            style="margin-bottom: 1.5rem;"
                            @click="deletePengurus"
                    >
                        <i class="material-icons left">add</i>
                        Hapus Pengurus Terakhir
                    </button>

                    <div class="row">
                        <div class="col s12">
                            <button
                                    class="btn waves-effect waves-light blue darken-2"
                                    style="width: 100%;"
                                    type="submit"
                            >
                                Register New Organization
                            </button>
                      </div>
                    </div>
                </form>
                <div class="row" style="margin-top: 2rem; margin-bottom: 0; ">
                  <div class="col s12 direction-right center-align">
                      <a class="dark-blue-text darken-4" href="/login">Click here to Login!</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% load staticfiles %}
    <script src="{% static "js/registrasi_organisasi.js" %}"></script>
    <!-- development version, includes helpful console warnings -->
{% endblock %}